@font-face {
  font-family: "Bravura";
  src: url("/fonts/woff/Bravura.woff") format("woff"), url("/fonts/svg/Bravura.svg") format("svg"),
    url("/fonts/otf/Bravura.otf") format("otf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

* {
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+/Edge */
  user-select: none; /* Standard */
}

.container {
  position: relative;
  margin-left: 100px;
}

.staff {
  position: absolute;
  display: flex;
}

.symbols {
  position: absolute;
  display: flex;
}

.text {
  font-size: 60px;
  font-family: "Bravura";
}

.symbols .text {
  margin-right: 15px;
}

.notehead {
  position: absolute;
  display: flex;
}

.keySignature {
  display: flex;
}

.keySignatureText {
  font-size: 60px;
  font-family: "Bravura";
  margin-right: 5px;
}

.barLineText {
  font-size: 60px;
  font-family: "Bravura";
  margin-right: 10px;
}

.clefText {
  font-size: 60px;
  font-family: "Bravura";
  margin-right: 7px;
  margin-left: -5px;
}

.timeSignatureBox {
  position: relative;
}
.timeSignatureTextTop {
  position: absolute;
  margin-top: -45px;
  font-size: 60px;
  font-family: "Bravura";
  margin-left: 5px;
}

.timeSignatureTextBottom {
  margin-top: -15px;
  font-size: 60px;
  font-family: "Bravura";
  margin-right: 5px;
  margin-left: 5px;
}

.missingNote {
  width: 30px;
  border: 1px solid black;
  height: 75px;
  background-color: #c7c7c7;
  border-radius: 5px;
  margin-right: 15px;
}

.empty {
  width: 20px;
  height: 75px;
  margin-right: 15px;
}
