.empty {
  width: 20px;
  height: 75px;
  margin-right: 15px;
}

.missingNote {
  width: 30px;
  border: 1px solid black;
  height: 75px;
  background-color: #c7c7c7;
  border-radius: 5px;
  margin-right: 15px;
}

.bar {
  display: flex;
  flex: auto;
}

.barLineText {
  display: flex;
  flex-shrink: 1;
  font-size: 60px;
  font-family: "Bravura";
}

.note {
  display: flex;
  position: relative;
  flex: auto;
  justify-content: space-around;
}

.noteHeadBox {
  display: flex;
  position: relative;
}
