.systemStaff {
  margin-left: 405px;
  font-size: 60px;
  font-family: "Bravura";
  -webkit-transform: scaleX(28); /* Safari and Chrome */
  -moz-transform: scaleX(28); /* Firefox */
  -ms-transform: scaleX(28); /* IE 9 */
  -o-transform: scaleX(28); /* Opera */
  transform: scaleX(28); /* W3C */
}
