.systemStaff {
  font-size: var(--music-font-size);
  font-family: "Bravura";
  transform-origin: top left;
  -webkit-transform: scaleX(var(--transform-size)); /* Safari and Chrome */
  -moz-transform: scaleX(var(--transform-size)); /* Firefox */
  -ms-transform: scaleX(var(--transform-size)); /* IE 9 */
  -o-transform: scaleX(var(--transform-size)); /* Opera */
  transform: scaleX(var(--transform-size)); /* W3C */
}
